aniso8601==7.0.0
asgiref==3.4.1
breezy==3.0.2
certifi==2019.11.28
chardet==3.0.4
configobj==5.0.6
Cython==0.29.23
dbus-python==1.2.16
Django==3.2.5
django-cors-headers==3.7.0
django-utils-six==2.0
dulwich==0.19.15
fastimport==0.9.8
graphene==2.1.8
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
idna==2.8
Pygments==2.7.4
PyGObject==3.36.0
pytz==2021.1
PyYAML==5.4
requests==2.26.0
requests-unixsocket==0.2.0
Rx==3.2.0
singledispatch==3.6.2
six==1.16.0
sqlparse==0.4.1
urllib3==1.25.0
